@import "../../../../styles/variables";

div.flag {

  margin: 0.6em 0;
  padding: 1.2em .8em;
  border: 1px solid transparent;
  border-bottom-width: 3px;
  border-radius: .2em;

  border-color: $lightViolet;
  background-color: $darkViolet;
  background-image: url("../../../../static/assets/icons/announcement-flag-bg.svg");
  background-position:  bottom left;
  background-repeat: no-repeat;

  img {
    vertical-align: middle;
    margin-top: -0.15em;
    margin-right: 0.2em;
  }

  h2 {
    margin: 0 0 .6em;
    font-size: 1em;
    font-weight: $fontWeightBold;
    text-transform: none;
    color: lighten($orange, 45%);
  }

  &.mod {
    border-color: $red;
    background-color: $darkRed;
    background-image: none;
  }

  &.admin {
    border-color: $orange;
    background-color: $deepBlack;
    background-image: url("../../../../static/assets/icons/admin-flag-bg.svg");
    background-position:  top left;
  }

/*  &::before {
    content: "Message d'un modérateur";
    display: block;
    margin-bottom: .4em;
    padding-left: 18px;
    color: lighten($orange, 45%);
    font-weight: $fontWeightBold;
    letter-spacing: .04em;
    background: url("../../../../static/assets/icons/warning.png") center left no-repeat;
    } */
}
