@use "sass:math";

nav.breadcrumb {
  font-size: .85em;
  font-weight: 600;
  text-transform: uppercase;
}

.content .post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
etwin-forum-post, .etwin-forum-post, etwin-nexus-post, .etwin-nexus-post, {
  $metaColor: $lightViolet;
  $metaBg: $deepViolet;
  $borderColor: $lightViolet;
  $spacing: 0.5rem;

  display: block;
  background-color:$darkGrey;
  border-bottom: 3px solid $deepBlack;
  border-radius: 4px;
  margin: 2.7 * $spacing 0;
  padding: 9px 0 0 0;

  .post-meta {
    display: flex;
    align-items: flex-start;
    height: 2em;
    margin-left: .6em;
  }

  .avatar {
    border: 1px solid $deepBlack;

    img {
      display: block;
      width: 70px;
    }
  }

  .post-banner {
    display: flex;
    align-items: center;
    flex: 1;
    margin: .4em 0;
    padding: .1em 1em .1em .8em;
    background-color: darken($deepGrey, 2.5);
    color: $lightViolet;

    .author {
      font-weight: $fontWeightBold;
    }

    .title {
      display: flex;
      align-items: center;
      margin: 0 1.4em;
      font-size: .85em;
      font-style: italic;
      color: lighten($mediumGrey, 15%);

      img { padding-right: .4em;}
    }

    .time {
      flex: 1;
      font-size: .7em;
      line-height: 1.25em;
      color: lighten($mediumGrey, 15%);
      text-align: right;
    }
  }

  .body, .deleted, .moderation {
    margin-left: calc(72px + .8em);
    padding: .8em 1em .8em .6em;;
  }

  .deleted {
    background-color: black;
  }

  .moderation {
    background-color: #470d0b;
  }

  .actionBox {
    justify-content: flex-end !important;
    margin: .5em 1em !important;

      .btn {
      font-size: .8em !important;
    }
  }
}

.post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darken($deepGrey, 2.5);
  // color: $lightViolet;
  padding: 2px 16px;

  .author {
    font-weight: $fontWeightBold;
  }

  .time {
    font-size: .7em;
    line-height: 1.25em;
    color: #6f6f6f;
    text-align: right;
  }
}
*/

.content .forum-list, .content .section-list, .content .thread-list {
  list-style: none;
  padding-left: 0 !important;

  li {
    border-bottom: 2px solid #1f1f1f;
  }

  li:first-child {
    border-top: 2px solid #1f1f1f;
  }

  a {
    color: $lightWhite;
    padding: 14px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;

    transition: background-color .15s;

    &:hover, &:focus, &:focus-within {
      text-decoration: none;
      background-color: transparentize($deepBlack, .7);
    }

    .name {
      flex-grow: 1;
    }

    .count {
      display: inline-block;
      text-align: center;
      color: $lightGrey;
      font-size: .85rem;
      font-weight: 600;
      letter-spacing: .04em;
      white-space: pre;
      margin-left: 1em;
      padding: 1px 1em;
      min-width: 5.2em;
      border-radius: 4px;
      border: 2px solid transparentize($darkGrey, .45);
    }

  }
}