<ng-container [ngSwitch]="link.current !== null">
  <div class="icon"><img src="assets/login-methods/twinoid.png"/></div>
  <h3>twinoid.com</h3>
  <ng-container *ngSwitchCase="true">
    <div class="user">{{link.current.user.displayName}} ({{link.current.user.id}})</div>
    <div class="actions">
      <etwin-unlink-twinoid-button [userId]="userId" [twinoidUserId]="link.current.user.id"></etwin-unlink-twinoid-button>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="user">No linked account</div>
    <p>
      Automated linking is no longer available. <a routerLink="/support" class="button">Contact support to link your account.</a>
    </p>
  </ng-container>
</ng-container>
