<ng-container [ngSwitch]="link.current !== null">
  <div class="icon"><img src="assets/login-methods/hammerfest.png"/></div>
  <h3>{{server}}</h3>
  <ng-container *ngSwitchCase="true">
    <div class="user">{{link.current.user.username}} ({{link.current.user.id}})</div>
    <div class="actions">
      <etwin-unlink-hammerfest-button [userId]="userId" [hammerfestServer]="link.current.user.server" [hammerfestUserId]="link.current.user.id"></etwin-unlink-hammerfest-button>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="user">No linked account.</div>
    <p>
      Automated linking is no longer available. <a routerLink="/support" class="button">Contact support to link your account.</a>
    </p>
  </ng-container>
</ng-container>
