<h1>{{user.displayName}}</h1>

<div class="linked-user">
  <a href="https://twinoid.com/user/{{user.id}}">
    <span><img src="assets/login-methods/twinoid.png"/></span>
    <strong>{{user.displayName}}</strong>
    <em>twinoid.com</em>
  </a>
</div>

<div class="linked-user" *ngIf="user.etwin.current !== null">
  <a [routerLink]="['', 'users', user.etwin.current.user.id]">
    <span><img src="assets/login-methods/eternal-twin.png"/></span>
    <strong>{{user.etwin.current.user.displayName.current.value}}</strong>
    <em>Eternaltwin</em>
  </a>
</div>

<div>
  <a href="/api/v1/archive/twinoid/users/{{user.id}}">API</a>
</div>

<ng-container *ngIf="fullArchiveDate() !== null; else missingFullArchive">
  <strong>Everything looks OK: this profile was fully archived on {{(fullArchiveDate()!) | date}}</strong>
</ng-container>
<ng-template #missingFullArchive><strong>WARNING: There is no full archive for this profile! If this persists, open a ticket in the Discord server (see links at the bottom of the page)</strong></ng-template>
