<form
  method="POST"
  enctype="application/x-www-form-urlencoded"
  action="/actions/delete-user"
  [formGroup]="deleteUserForm"
  (ngSubmit)="onSubmitDeleteUser($event)"
>
  <input type="hidden" name="user_id" formControlName="userId" required="required"/>
  <input type="submit" class="btn primary" name="delete_user" i18n-value="@@shared.deleteUser.submit" value="Delete user"/>
  <div *ngIf="serverError" class="error" i18n="@@shared.deleteUser.unknownError">
    Delete error (unknown reason).
  </div>
</form>
